 * {
     padding: 0;
     margin: 0;
     border: 0;
     box-sizing: border-box;
 }

 html, body {
     min-height: 100vh;
     background-image: url("../../images/imagem_background_aula04.jpg");
     background-repeat: no-repeat;
     background-size: 100% 100%;
 }

 h1 {
     font-size: 30px
 }

 .card {
     border-radius: 2rem;
     box-shadow: 0px 0px 20px 0px #000;
     padding: 2%
 }

 .btn_exib_cad {
     width: 70%;
     background: linear-gradient(65deg, red, yellow);
     color: #000;
     border-radius: 5rem;
     border: 2px solid #000;
     font-weight: 500px;
     font-size: 17px;
     box-shadow: 0px 7px 5px 0px rgba(49, 49, 49, 0.438);
 }

 .btn_exib_cad:hover {
     background: linear-gradient(65deg, yellow, red);
     color: #fff;
     border: 2px solid #000;
     box-shadow: 0px 7px 5px 0px rgba(49, 49, 49, 0.438)
 }

 .btn_exib_cad:focus {
     background: linear-gradient(65deg, yellow, red);
     color: #fff;
     border: 2px solid #000;
     box-shadow: 0px 7px 5px 0px rgba(49, 49, 49, 0.438)
 }

 .link_page {
     background: linear-gradient(65deg, red, yellow);
     color: #000;
     border-radius: 5rem;
     border: 2px solid #000;
     font-weight: 500px;
     font-size: 17px;
     box-shadow: 0px 7px 5px 0px rgba(49, 49, 49, 0.438);
 }

 .link_page:hover {
     background: linear-gradient(65deg, yellow, red);
     color: #fff;
     border: 2px solid #000;
     box-shadow: 0px 7px 5px 0px rgba(49, 49, 49, 0.438)
 }

 .link_page:focus {
     background: linear-gradient(65deg, yellow, red);
     color: #fff;
     border: 2px solid #000;
     box-shadow: 0px 0px 0px 0px transparent !important;
 }

 .btn_direct_cad {
     background: linear-gradient(65deg, red, yellow);
     color: #000;
     border-radius: 5rem;
     border: 2px solid #000;
     font-weight: 500px;
     font-size: 17px;
     box-shadow: 0px 7px 5px 0px rgba(49, 49, 49, 0.438);
 }

 .btn_direct_cad:hover {
     background: linear-gradient(65deg, yellow, red);
     color: #fff;
     border: 2px solid #000;
     box-shadow: 0px 7px 5px 0px rgba(49, 49, 49, 0.438)
 }

 .btn_direct_cad:focus {
     background: linear-gradient(65deg, yellow, red);
     color: #fff;
     border: 2px solid #000;
     box-shadow: 0px 0px 0px 0px transparent !important;
 }

 .btn_cad {
     background: linear-gradient(65deg, red, yellow);
     color: #000;
     border-radius: 5rem;
     border: 2px solid #000;
     font-weight: 500px;
     font-size: 17px;
     box-shadow: 0px 7px 5px 0px rgba(49, 49, 49, 0.438);
 }

 .btn_cad:hover {
     background: linear-gradient(65deg, yellow, red);
     color: #fff;
     border: 2px solid #000;
     box-shadow: 0px 7px 5px 0px rgba(49, 49, 49, 0.438)
 }

 .btn_cad:focus {
     background: linear-gradient(65deg, yellow, red);
     color: #fff;
     border: 2px solid #000;
     box-shadow: 0px 0px 0px 0px transparent !important;
 }

 .align_label {
     font-size: 17px;
     font-weight: 500px;
     padding-left: 1.3rem !important;
 }

 .forms {
     font-size: 15px;
     border: 2px solid #ced4da;
     box-shadow: none;
     border-radius: 5rem;
     padding-left: 1.3rem !important;
 }

 .forms:hover {
     box-shadow: none;
     border: 2px solid #000;
 }

 .forms:focus {
     box-shadow: none;
     border: 2px solid #000;
 }

 .forms_text {
     font-size: 15px;
     border: 2px solid #ced4da;
     box-shadow: none;
     border-radius: 0.5rem;
     padding-left: 1.3rem !important;
     resize: none;
 }

 .forms_text:hover {
     box-shadow: none;
     border: 2px solid #000;
 }

 .forms_text:focus {
     box-shadow: none;
     border: 2px solid #000;
 }

 .alig_custom_form {
     min-height: 100vh;
     justify-content: center;
     align-items: center;
     display: flex;
     flex-direction: column;
 }

 .alig_pages {
     min-height: 100vh;
     justify-content: center;
     align-items: center;
     display: flex;
     flex-direction: column;
 }

 .exib_alig {
     min-height: 100vh;
     justify-content: center;
     align-items: center;
     display: flex;
     flex-direction: column;
 }

 .div1 {
     width: 90%;
     overflow-x: auto;
     margin-left: auto;
     margin-right: auto;
 }

 .div1::-webkit-scrollbar {
     width: 15px;
     border-radius: 5rem;
     background-color: rgba(41, 39, 39, 0.178);
 }

 .div1::-webkit-scrollbar-thumb {
     border-radius: 5rem;
     background-color: rgba(255, 255, 255, 0.781);
 }

 .div2 {
     height: auto;
     border-radius: 5rem;
 }

 .redirection_page {
     padding: 1.25%;
 }

 thead {
     border: 2.5px solid #000;
 }

 th {
     border: 2.5px solid #000;
 }

 td {
     border: 2.5px solid #000;
 }

 tbody {
     border: 2.5px solid #000;
 }

 .exib_list_cad {
     color: #fff;
 }

 .line_exib_cad {
     height: 2.5px;
     border-radius: 5rem;
     background-color: #fff;
     padding: 0rem !important;
     margin-top: 0rem !important;
 }

 hr {
     height: 4px !important;
     background-color: #000;
     opacity: 100%;
     width: 85%;
     margin-left: auto;
     margin-right: auto;
 }

 .alig_form {
     margin-top: 3rem;
     margin-bottom: 3rem;
 }

 /* Extra small devices (portrait phones, less than 576px) */

 @media (max-width: 575.98px) {
     .alig_form {
         width: 250px;
     }
     .link_page {
         width: 100%;
     }
     .forms_text {
         height: 65px;
     }
     .btn_exib_cad {
         width: 75%;
     }
     .btn_cad {
         width: 70%;
     }
     .nav-item {
         margin-top: .75rem!important;
         margin-bottom: .75rem!important;
     }
     .div2 {
         width: 1200%;
     }
     .line_exib_cad {
         width: 95%;
     }
     .exib_list_cad {
         font-size: 16px;
     }
     th {
         font-size: 12px;
     }
     td {
         font-size: 12px;
     }
     .btn_direct_cad {
         width: 70%;
         font-size: 14px;
     }
 }

 /* Small devices (landscape phones, 576px and up) */

 @media (min-width: 576px) and (max-width: 767.98px) {
     .alig_form {
         width: 400px;
     }
     .link_page {
         width: 100%;
     }
     .forms_text {
         height: 80px;
     }
     .nav-item {
         margin-top: .75rem!important;
         margin-bottom: .75rem!important;
     }
     .btn_exib_cad {
         width: 60%;
     }
     .btn_cad {
         width: 55%;
     }
     .div2 {
         width: 650%;
     }
     .line_exib_cad {
         width: 85%;
     }
     .exib_list_cad {
         font-size: 20px;
     }
     th {
         font-size: 14px;
     }
     td {
         font-size: 14px;
     }
     .btn_direct_cad {
         width: 60%;
         font-size: 16px;
     }
 }

 /* Medium devices (tablets, 768px and up) */

 @media (min-width: 768px) and (max-width: 991.98px) {
     .alig_form {
         width: 450px;
     }
     .link_page {
         width: 100%;
     }
     .forms_text {
         height: 95px;
     }
     .btn_exib_cad {
         width: 45%;
     }
     .btn_cad {
         width: 60%;
     }
     .nav-item {
         margin-top: .75rem!important;
         margin-bottom: .75rem!important;
     }
     .div2 {
         width: 600%;
     }
     .line_exib_cad {
         width: 65%;
     }
     .exib_list_cad {
         font-size: 25px;
     }
     th {
         font-size: 15px;
     }
     td {
         font-size: 15px;
     }
     .btn_direct_cad {
         width: 40%;
         font-size: 18px;
     }
 }

 /* Large devices (desktops, 992px and up) */

 @media (min-width: 992px) and (max-width: 1199.98px) {
     .alig_form {
         width: 550px;
     }
     .link_page {
         width: 150%;
     }
     .forms_text {
         height: 110px;
     }
     .nav-item {
         margin-right: .5rem!important;
         margin-left: .5rem!important;
     }
     .div2 {
         width: 500%;
     }
     .line_exib_cad {
         width: 55%;
     }
     .exib_list_cad {
         font-size: 30px;
     }
     th {
         font-size: 17px;
     }
     td {
         font-size: 17px;
     }
     .btn_direct_cad {
         width: 30%;
         font-size: 19px;
     }
     .btn_exib_cad {
         width: 40%;
     }
     .btn_cad {
         width: 70%;
     }
 }

 /* Extra large devices (large desktops, 1200px and up) */

 @media (min-width: 1200px) {
     .alig_form {
         width: 550px;
     }
     .forms_text {
         height: 110px;
     }
     .link_page {
         width: 150%;
     }
     .nav-item {
         margin-right: .5rem!important;
         margin-left: .5rem!important;
     }
     .div2 {
         width: 500%;
     }
     .line_exib_cad {
         width: 50%;
     }
     .exib_list_cad {
         font-size: 35px;
     }
     th {
         font-size: 18px;
     }
     td {
         font-size: 18px;
     }
     .btn_direct_cad {
         width: 25%;
         font-size: 20px;
     }
     .btn_exib_cad {
         width: 40%;
     }
     .btn_cad {
         width: 70%;
     }
 }
